body{
    background-image: linear-gradient(rgb(8, 0, 16),rgb(14,17,22), #030637);
    margin: 0;
}
/*Beginning of header css*/
.header{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 24px 35px 24px 24px;

}

.header-logo{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 48px;
font-weight: bolder;
}

.header-link{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
font-weight: 600;
}

ul{
    list-style: none;
    display: flex;
    gap:16px;
    align-items: center;
}

li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
/*End of Header css */
.home-image{
    width: 60vw;

}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#second-content{
    padding: 30px;
    margin: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.info-image{
    border: 2px solid white;
    border-radius: 4%;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9faf8;
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: -100px;
    margin-top: 30px;
}   

.quote{
    color:#f9faf8;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}
p{
    width: 750px;
    height: 350px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 400;
    font-style: italic;
    background-color: #435585;
    opacity: .4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #1D2B53;
}
.buy{
display: flex;
justify-content: center;
align-items: center;
margin: 100px;
}

.button{
    width: 300px;
    height: 100px;
    border-radius: 27px;
    background-image: linear-gradient(to bottom right, #B4D4FF ,#86B6F6 );
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 650;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #201658;
}

.footer{
    background-color: #030637;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18;
}
